{{ define "main" }}

<section class="banner banner-cats">
  <h1>{{ .Title | title }} Cats</h1>
</section>

<section class="cat-filters">

  <h3><p>Get to know your kitties before you meet them.</p></h3>

  <a href="/cats/" class="btn">All</a>

  {{ range .Site.Taxonomies.status }}
    <a href="{{ .Page.RelPermalink }}" class="btn">
      {{ .Page.Title | title }}
    </a>
  {{ end }}

</section>
<br>
<section class="cats-grid">
  {{ range .Pages }}
    {{ partial "card.html" . }}
  {{ end }}
</section>

{{ end }}